USE [KPI]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/08/2019 11:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[LevelID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ParentID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CommentMsg] [nvarchar](max) NULL,
	[CommentedDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[KPILevelCode] [nvarchar](max) NULL,
	[Period] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NULL,
	[KPIKind] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[CreateTime] [datetime] NOT NULL,
	[DateUpload] [nvarchar](max) NULL,
	[Week] [int] NULL,
	[Month] [int] NULL,
	[Quater] [int] NULL,
	[KPILevelCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourites]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourites](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KPILevelCode] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Period] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Favourites] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPILevels]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPILevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KPILevelCode] [nvarchar](max) NULL,
	[UserCheck] [nvarchar](max) NULL,
	[KPIID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[Period] [nvarchar](max) NULL,
	[Weekly] [int] NULL,
	[Monthly] [datetime] NULL,
	[Quaterly] [datetime] NULL,
	[Yearly] [datetime] NULL,
	[Checked] [bit] NULL,
	[WeeklyChecked] [bit] NULL,
	[MonthlyChecked] [bit] NULL,
	[QuaterlyChecked] [bit] NULL,
	[YearlyChecked] [bit] NULL,
	[CheckedPeriod] [bit] NULL,
	[TimeCheck] [datetime] NULL,
	[CreateTime] [datetime] NULL,
	[LevelNumber] [int] NOT NULL,
	[TeamID] [int] NULL,
	[WeeklyPublic] [bit] NULL,
	[MonthlyPublic] [bit] NULL,
	[QuaterlyPublic] [bit] NULL,
	[YearlyPublic] [bit] NULL,
 CONSTRAINT [PK_dbo.KPILevels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPIs]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPIs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[LevelID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ParentID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.KPIs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[ParentCode] [nvarchar](max) NULL,
	[LevelNumber] [int] NULL,
	[State] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Levels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[FontAwesome] [nvarchar](max) NULL,
	[BackgroudColor] [nvarchar](max) NULL,
	[Permission] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
	[Permission] [int] NOT NULL,
	[FontAwesome] [nvarchar](max) NULL,
	[CheckRole] [bit] NOT NULL,
	[BackgroudColor] [nvarchar](max) NULL,
	[Menu] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Resources] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeenComments]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeenComments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SeenComments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/08/2019 11:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
	[LevelID] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Permission] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (1, N'Category 1', N'CCC001', 1, CAST(N'2019-07-14T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Categories] ([ID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (2, N'Category 2', N'CCC002', 1, CAST(N'2019-07-14T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Categories] ([ID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (3, N'Category 3', N'CCC003', 1, CAST(N'2019-07-14T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([ID], [CommentMsg], [CommentedDate], [UserID], [KPILevelCode], [Period]) VALUES (65, N'Not bad', CAST(N'2019-07-31T15:14:50.960' AS DateTime), 2, N'4G010004PO', N'W')
INSERT [dbo].[Comments] ([ID], [CommentMsg], [CommentedDate], [UserID], [KPILevelCode], [Period]) VALUES (66, N'Im sorry', CAST(N'2019-07-31T15:15:20.047' AS DateTime), 1, N'4G010004PO', N'W')
INSERT [dbo].[Comments] ([ID], [CommentMsg], [CommentedDate], [UserID], [KPILevelCode], [Period]) VALUES (67, N'Hello', CAST(N'2019-08-01T09:55:04.080' AS DateTime), 2, N'1G010001PO', N'W')
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Data] ON 

INSERT [dbo].[Data] ([ID], [Value], [KPIKind], [Year], [CreateTime], [DateUpload], [Week], [Month], [Quater], [KPILevelCode]) VALUES (699, 60, N'W', 2019, CAST(N'2019-07-26T15:52:38.620' AS DateTime), N'7/26/2019 3:52:38 PM', 1, NULL, NULL, N'4G010004PO')
INSERT [dbo].[Data] ([ID], [Value], [KPIKind], [Year], [CreateTime], [DateUpload], [Week], [Month], [Quater], [KPILevelCode]) VALUES (700, 70, N'W', 2019, CAST(N'2019-07-26T15:52:38.620' AS DateTime), N'7/26/2019 3:52:38 PM', 2, NULL, NULL, N'4G010004PO')
INSERT [dbo].[Data] ([ID], [Value], [KPIKind], [Year], [CreateTime], [DateUpload], [Week], [Month], [Quater], [KPILevelCode]) VALUES (701, 60, N'W', 2019, CAST(N'2019-07-26T15:52:38.620' AS DateTime), N'7/26/2019 3:52:38 PM', 3, NULL, NULL, N'4G010004PO')
GO
SET IDENTITY_INSERT [dbo].[Data] OFF
SET IDENTITY_INSERT [dbo].[Favourites] ON 

INSERT [dbo].[Favourites] ([ID], [KPILevelCode], [UserID], [CreateTime], [Period]) VALUES (5, N'1G010001PO', 2, CAST(N'2019-08-01T11:44:39.140' AS DateTime), N'W')
INSERT [dbo].[Favourites] ([ID], [KPILevelCode], [UserID], [CreateTime], [Period]) VALUES (7, N'2G010002PO', 2, CAST(N'2019-08-03T14:50:32.530' AS DateTime), N'W')
SET IDENTITY_INSERT [dbo].[Favourites] OFF
SET IDENTITY_INSERT [dbo].[KPILevels] ON 

INSERT [dbo].[KPILevels] ([ID], [KPILevelCode], [UserCheck], [KPIID], [LevelID], [Period], [Weekly], [Monthly], [Quaterly], [Yearly], [Checked], [WeeklyChecked], [MonthlyChecked], [QuaterlyChecked], [YearlyChecked], [CheckedPeriod], [TimeCheck], [CreateTime], [LevelNumber], [TeamID], [WeeklyPublic], [MonthlyPublic], [QuaterlyPublic], [YearlyPublic]) VALUES (37, N'1G010001PO', N'1', 7, 52, NULL, 2, CAST(N'2019-08-01T00:00:00.000' AS DateTime), CAST(N'2019-08-02T00:00:00.000' AS DateTime), NULL, 1, 1, 1, 1, 1, NULL, CAST(N'2019-08-03T15:15:11.380' AS DateTime), NULL, 0, NULL, 1, NULL, 0, 0)
INSERT [dbo].[KPILevels] ([ID], [KPILevelCode], [UserCheck], [KPIID], [LevelID], [Period], [Weekly], [Monthly], [Quaterly], [Yearly], [Checked], [WeeklyChecked], [MonthlyChecked], [QuaterlyChecked], [YearlyChecked], [CheckedPeriod], [TimeCheck], [CreateTime], [LevelNumber], [TeamID], [WeeklyPublic], [MonthlyPublic], [QuaterlyPublic], [YearlyPublic]) VALUES (38, N'2G010002PO', NULL, 8, 52, NULL, 3, CAST(N'2019-08-01T00:00:00.000' AS DateTime), CAST(N'2019-08-01T00:00:00.000' AS DateTime), NULL, 1, 1, 1, 1, 1, NULL, CAST(N'2019-08-01T08:35:14.093' AS DateTime), NULL, 0, NULL, NULL, 0, 0, 0)
INSERT [dbo].[KPILevels] ([ID], [KPILevelCode], [UserCheck], [KPIID], [LevelID], [Period], [Weekly], [Monthly], [Quaterly], [Yearly], [Checked], [WeeklyChecked], [MonthlyChecked], [QuaterlyChecked], [YearlyChecked], [CheckedPeriod], [TimeCheck], [CreateTime], [LevelNumber], [TeamID], [WeeklyPublic], [MonthlyPublic], [QuaterlyPublic], [YearlyPublic]) VALUES (39, N'3G010003PO', N'1', 9, 52, NULL, 2, NULL, NULL, NULL, 1, 1, 0, NULL, NULL, NULL, CAST(N'2019-08-02T10:42:12.340' AS DateTime), NULL, 0, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KPILevels] OFF
SET IDENTITY_INSERT [dbo].[KPIs] ON 

INSERT [dbo].[KPIs] ([ID], [CategoryCode], [CategoryID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (7, N'CCC001', 1, N'PPH', N'0001', 1, CAST(N'2019-07-14T15:52:53.487' AS DateTime), NULL)
INSERT [dbo].[KPIs] ([ID], [CategoryCode], [CategoryID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (8, N'CCC002', 2, N'EOLR', N'0002', 2, CAST(N'2019-07-14T15:52:53.487' AS DateTime), NULL)
INSERT [dbo].[KPIs] ([ID], [CategoryCode], [CategoryID], [Name], [Code], [LevelID], [CreateTime], [ParentID]) VALUES (9, N'CCC003', 3, N'Target Achievement %', N'0003', 3, CAST(N'2019-07-14T15:52:53.487' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[KPIs] OFF
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([ID], [Name], [Code], [ParentID], [ParentCode], [LevelNumber], [State], [CreateTime]) VALUES (52, N'Group 1', N'G01', 0, NULL, 1, 0, CAST(N'2019-07-23T14:45:46.473' AS DateTime))
INSERT [dbo].[Levels] ([ID], [Name], [Code], [ParentID], [ParentCode], [LevelNumber], [State], [CreateTime]) VALUES (53, N'Division 1', N'D01', 52, NULL, 2, 0, CAST(N'2019-07-23T15:08:47.990' AS DateTime))
INSERT [dbo].[Levels] ([ID], [Name], [Code], [ParentID], [ParentCode], [LevelNumber], [State], [CreateTime]) VALUES (54, N'Factory 1', N'F01', 53, NULL, 3, 0, CAST(N'2019-07-23T15:09:41.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[Levels] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([ID], [Name], [Link], [FontAwesome], [BackgroudColor], [Permission], [ParentID]) VALUES (1, N'KPI', N'/AdminKPI/Index', N'fa fa-money', N'bg-aqua', 1, 12)
INSERT [dbo].[Menus] ([ID], [Name], [Link], [FontAwesome], [BackgroudColor], [Permission], [ParentID]) VALUES (2, N'Favourite', N'/Favourite/Index', N'fa fa-heart-o', N'btn-foursquare', 3, 0)
INSERT [dbo].[Menus] ([ID], [Name], [Link], [FontAwesome], [BackgroudColor], [Permission], [ParentID]) VALUES (3, N'Workplace', N'/Workplace/Index', N'fa fa-laptop', N'bg-green', 3, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([ID], [PermissionName]) VALUES (1, N'Admin')
INSERT [dbo].[Permissions] ([ID], [PermissionName]) VALUES (2, N'Mod')
INSERT [dbo].[Permissions] ([ID], [PermissionName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([ID], [Link], [Name], [State], [Permission], [FontAwesome], [CheckRole], [BackgroudColor], [Menu], [UserID]) VALUES (8, N'/Favourite/Index', N'Favourite', 1, 2, N'fa fa-heart-o', 1, N'btn-foursquare', 2, 2)
INSERT [dbo].[Resources] ([ID], [Link], [Name], [State], [Permission], [FontAwesome], [CheckRole], [BackgroudColor], [Menu], [UserID]) VALUES (10, N'/Workplace/Index', N'Workplace', 1, 3, N'fa fa-laptop', 1, N'bg-green', 3, 12)
INSERT [dbo].[Resources] ([ID], [Link], [Name], [State], [Permission], [FontAwesome], [CheckRole], [BackgroudColor], [Menu], [UserID]) VALUES (11, N'/Favourite/Index', N'Favourite', 1, 3, N'fa fa-heart-o', 1, N'btn-foursquare', 2, 12)
SET IDENTITY_INSERT [dbo].[Resources] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name], [Code]) VALUES (1, N'Group', N'GRO')
INSERT [dbo].[Roles] ([ID], [Name], [Code]) VALUES (2, N'Division', N'DIV')
INSERT [dbo].[Roles] ([ID], [Name], [Code]) VALUES (3, N'Factory', N'FAC')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SeenComments] ON 

INSERT [dbo].[SeenComments] ([ID], [CommentID], [UserID], [Status]) VALUES (59, 65, 2, 0)
INSERT [dbo].[SeenComments] ([ID], [CommentID], [UserID], [Status]) VALUES (60, 65, 1, 0)
INSERT [dbo].[SeenComments] ([ID], [CommentID], [UserID], [Status]) VALUES (61, 66, 1, 0)
SET IDENTITY_INSERT [dbo].[SeenComments] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Code], [Username], [Password], [State], [LevelID], [Role], [TeamID], [IsActive], [FullName], [Permission]) VALUES (1, N'H001', N'admin', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 1, 0, 1, 0, 1, N'Admin', 1)
INSERT [dbo].[Users] ([ID], [Code], [Username], [Password], [State], [LevelID], [Role], [TeamID], [IsActive], [FullName], [Permission]) VALUES (2, N'H001', N'user', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 1, 52, 2, 0, 1, N'User', 3)
INSERT [dbo].[Users] ([ID], [Code], [Username], [Password], [State], [LevelID], [Role], [TeamID], [IsActive], [FullName], [Permission]) VALUES (12, N'HEN', N'henry', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 1, 58, 7, 0, 1, N'henry', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Data] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateTime]
GO
ALTER TABLE [dbo].[KPILevels] ADD  DEFAULT ((0)) FOR [LevelNumber]
GO
ALTER TABLE [dbo].[KPILevels] ADD  DEFAULT ((0)) FOR [TeamID]
GO
ALTER TABLE [dbo].[Levels] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateTime]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [Permission]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [ParentID]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((0)) FOR [CheckRole]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((0)) FOR [Menu]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((0)) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TeamID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Permission]
GO
